//-----------
// VARIABLES
//-----------

// Colours
//---------------
$llc-pink:		#b109aa;
$black: 		#1d1d1d;
$white: 		#ffffff;

// Typography
//---------------
$sans-serif: 	'Open Sans', sans-serif;
$serif: 		'Vollkorn', serif;

// Font weights
$normal:	400;
$bold:		700;
