/* GLOBAL STYLES
-----------------------------------------*/
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333333; /* dark, almost black, gray colour */
}
h1,
h2 {
  font-family: "Nixie One", serif;
  font-weight: 300; /* removes default bold styles */
  text-transform: uppercase;
}
a {
  color: #bf6d50;
  text-decoration: none; /* removes default underline */
}

/* HEADER STYLES
-----------------------------------------*/
header h1 {
  font-size: 48px;
}
header h2 {
  font-size: 24px;
}