/* GLOBAL STYLES
-----------------------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333333; /* dark, almost black, gray colour */
}
h1,
h2 {
  font-family: "Nixie One", serif;
  font-weight: 300; /* removes default bold styles */
  text-transform: uppercase;
  margin: 0; /* removes default space */
}
a {
  color: #bf6d50;
  text-decoration: none; /* removes default underline */
}
header,
main,
nav {
  padding: 20px 30px;
}
main {
  clear: both;
}

/* HEADER STYLES
-----------------------------------------*/
header h1 {
  font-size: 48px;
}
header h2 {
  font-size: 24px;
}
header {
  float: left;
}
nav {
  float: right;
}
nav a {
  padding: 20px;
}


/* ABOUT STYLES
-----------------------------------------*/
.profile-img {
  float: left;
  margin-right: 20px;
}
blockquote {
  clear: both;
  padding: 5px 150px;
  text-align: center;
}
blockquote p {
  font-family: "Pacifico", cursive;
  font-size: 35px;
}
