/* GLOBAL STYLES
-----------------------------------------*/
html,
body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333333; /* dark, almost black, gray colour */
}
h1,
h2 {
  font-family: "Nixie One", serif;
  font-weight: 300; /* removes default bold styles */
  text-transform: uppercase;
  margin: 0; /* removes default space */
}
a {
  color: #bf6d50;
  text-decoration: none; /* removes default underline */
}
header,
main,
nav {
  padding: 20px 30px;
}

/* HEADER STYLES
-----------------------------------------*/
header h1 {
  font-size: 48px;
}
header h2 {
  font-size: 24px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  padding: 20px;
}

/* HOME PAGE STYLES
-----------------------------------------*/
.home {
  background: url(../images/background-6.jpg) no-repeat 50%;
  background-size: cover;
}

/* ABOUT STYLES
-----------------------------------------*/
.profile-img {
  float: left;
  margin-right: 20px;
  width: 50%;
}
blockquote {
  clear: both;
  padding: 5px 150px;
  text-align: center;
}
blockquote p {
  font-family: "Pacifico", cursive;
  font-size: 35px;
}

/* CONTACT STYLES
-----------------------------------------*/
form {
  width: 400px;
}
input,
textarea {
  border: 1px solid #BF6D50;
  width: 400px;
  margin-bottom: 10px;
}
input {
  height: 20px;
}
textarea {
  height: 100px;
}
button {
  background: #BF6D50;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
}


/* FOOTER STYLES
-----------------------------------------*/
footer {
  background: white;
  text-align: center;
  padding: 1px;
}
