/* GLOBAL STYLES
-----------------------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* clears floated child elements */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
}
header,
section {
  padding: 20px 30px;
}
section {
  padding-top: 125px;
}

h1 {
  font-family: "Nixie One", serif;
}
h1, h2 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
}
a {
  color: #bf6d50;
  text-decoration: none;
}


/* HEADER
-----------------------------------------*/
header {
  background: white;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  width: 100%;
}
header h1 {
  font-size: 36px;
}
header h2 {
  font-size: 18px;
}


/* NAVIGATION MENU
-----------------------------------------*/
nav {
  position: absolute;
  right: 20px;
  top: 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav a {
  padding: 5px 15px;
  text-transform: uppercase;
}


/* HOME PAGE
-----------------------------------------*/
.home header {
  position: static;
  background: transparent;
  border-bottom: none;
  text-align: center;
  padding-top: 100px;
}
.home header h1 {
  font-size: 120px;
}
.home header h2 {
  font-size: 40px;
}

/* FOOTER
-----------------------------------------*/
/* sticky footer */
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -35px; /* equal to footer height */
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: 35px; /* must be the same height as footer */
}
footer {
  background: #222;
  color: #ccc;
}




