/* GLOBAL STYLES
-----------------------------------------*/
body {
	padding: 0;
	margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
}
h1 {
  font-family: "Nixie One", serif;
}
h1, h2 {
  font-weight: 300;
  text-transform: uppercase;
}
a {
  color: #bf6d50;
  text-decoration: none;
}
