/* ----------------------------------------------------
  Created by Christina Truong for Ladies Learning Code
  http://ladieslearningcode.com
  http://christinatruong.com
-------------------------------------------------------*/


/* GLOBAL STYLES
-----------------------------------------*/
html,
body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333333; /* dark, almost black, gray colour */
}
h1,
h2 {
  font-family: "Nixie One", serif;
  font-weight: 300; /* removes default bold styles */
  text-transform: uppercase;
  margin: 0; /* removes default space */
}
a {
  color: #bf6d50;
  text-decoration: none; /* removes default underline */
}
a:hover {
  background: rgba(255, 255, 255, 0.3);
}
header,
main,
nav {
  padding: 20px 30px;
}
main {
  clear: both;
}
.highlight {
  color: #bf6d50;
}


/* HEADER STYLES
-----------------------------------------*/
header h1 {
  font-size: 48px;
}
header h2 {
  font-size: 24px;
}
header {
  float: left;
}
nav {
  float: right;
}
nav a {
  padding: 20px;
}

/* HOME PAGE STYLES
-----------------------------------------*/ 
.home {
  background: url(../images/background-6.jpg);
  background-position: center center;
  background-size: cover;
}

/* ABOUT STYLES
-----------------------------------------*/
.profile-img {
  float: left;
  margin-right: 20px;
  width: 50%;
}
blockquote {
  clear: both;
  padding: 5px 150px 0;
  text-align: center;
}
blockquote p {
  font-family: "Pacifico", cursive;
  font-size: 30px;
}

/* CONTACT STYLES
-----------------------------------------*/
.contact {
  background: url(../images/background-8.jpg) no-repeat 50%;
  background-size: cover;
}
.contact main {
  background: rgba(255, 255, 255, 0.7);
  padding-top: 40px;
  padding-bottom: 40px;
}
.contact main h1 {
  text-transform: none;
}

/* form styles */
form {
  width: 400px;
}
input,
textarea {
  border: 1px solid #BF6D50;
  width: 400px;
  margin-bottom: 10px;
}
input {
  height: 20px;
} 
textarea {
  height: 100px;
}
button {
  background: #BF6D50;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
}


/* FOOTER STYLES
-----------------------------------------*/
/* Sticky Footer - http://css-tricks.com/snippets/css/sticky-footer */
.page-wrap {
  min-height: 100%;
  margin-bottom: -55px; /* must be the same height as footer */
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, 
.page-wrap:after {
  height: 55px; /* however tall you want the footer to be */
}
footer {
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 1px;
  text-transform: lowercase;
}




