$sans-serif:  'Open Sans', sans-serif;
$serif: 'Nixie One', serif;
$cursive: 'Pacifico', cursive;

$gray: #D8D8D8;
$yellow: #D8BF72;
$brown-light: #BFA980;
$brown: #726051;
$orange: #BF6D50;


/* GLOBAL STYLES
-----------------------------------------*/

/* border-box fix */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Clear fix */
.cf:before,
.cf:after {
		content: " ";
		display: table;
}
.cf:after {
		clear: both;
}

html,
body {
	height: 100%;
}
body {
	font-family: $sans-serif;
	font-weight: 300;
	font-size: 16px;
}
header,
section {
	padding: 20px 30px;
	// color: #ccc;
	// max-width: 1200px;
	// width: 90%;
	// margin: 0 auto;
	// background: rgba(0,0,0,0.8);
	// border-radius: 6px;
	// padding: 20px;
}
section {
	padding-top: 105px;
}
h2 {
	margin-top: 0;
	font-weight: 300;
	// font-family: $cursive;
	text-transform: uppercase;
	font-family: $serif;
}
a {
	color: $orange;
	text-decoration: none;
	transition: all 0.5s ease;

	&:hover {
		color: black;
	}
}
.cursive {
	font-family: $cursive;
	margin: 0 2px 0 1px;
}
.highlight {
	color: $orange;
}
.wrapper {
	position: relative;
	max-width: 1400px;
	margin: 0 auto;
}

/* HEADER */
header {
	background: rgba(255,255,255,0.8);
	position: fixed;
	top: 0;
	width: 100%;

	h1, h2 {
		font-weight: 300;
		text-transform: uppercase;
		margin: 0;
		line-height: 1;
	}
	h1 {
		font-family: $serif;
		font-size: 36px;  
	}
	h2 {
		font-family: $sans-serif;
		font-size: 18px;
	}
}


/* NAVIGATION MENU */
nav {
	position: absolute;
	right: 20px;
	top: 20px;

	ul {
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
		}
	}
	a {
		color: black;
		text-decoration: none;
		padding: 5px 15px;
		border-radius: 4px;
		text-transform: uppercase;
		font-weight: 300;

		&:hover {
			background: rgba(0,0,0,0.1);
			color: black;
		}
	}
	.current {
		color: $orange;
	}
}


/* FOOTER */
/* sticky footer */
.wrapper {
	min-height: 100%;
	margin-bottom: -35px; /* equal to footer height */
}
.wrapper:after {
	content: "";
	display: block;
}
footer, 
.wrapper:after {
	/* must be the same height as footer */
	height: 35px; 
}

/* General footer styles */
footer {
	background: rgba(255,255,255,.8);
	background: #222;
	color: #ccc; 
	font-size: 14px;
	// text-align: center;
	font-weight: 400;

	.copyright {
		margin: 0;
		padding-top: 4px;
		float: left;
	}
	.social {
		float: right;
	}
}


/* PAGE STYLES
-----------------------------------------*/

/* HOMEPAGE */
.home {
	background: url(../images/background-6.jpg) no-repeat;
	background-size: cover;
	
	.wrapper {
		position: static;
		max-width: 100%;
	}
	header {
		background: transparent;
		position: static;
	}
	nav {
		top: 0;
		text-align: right;
		font-size: 20px;

		&:hover + .wrapper {  
			background: linear-gradient(rgba($orange,0.1),
				rgba($orange,0.1));
		}
		&:hover ul {
			display: block;
		}
		i {
			cursor: pointer;
			padding: 20px;
			font-size: 40px;
			color: $orange;
		}
		ul {
			display: none;

			li {
				display: block;
			}
		}
		a {
			display: inline-block;
			padding: 10px 20px;

			&:hover {
				background: rgba(255,255,255,0.3);
				border-radius: 4px;
			}
		}
	}

	header {
		text-align: center;
		padding-top: 100px;

		h1 {
			font-size: 120px;
		}
		h2 {
			font-size: 40px;
		}
	}

}

/* ABOUT */
.about {
	// .column {
	//   width: 50%;
	//   float: left;
	// }
	.profile-image {
		max-width: 50%;
		float: left;
		margin-right: 20px;
		
	}
	blockquote {
		clear: both;
		text-align: center;
		max-width: 750px;
		margin: 0 auto;
		padding: 30px 0;

		p {
			font-family: $cursive;
			font-size: 32px;
		}
	}
}


/* CONTACT */
.contact {
	background: url(../images/background-10.jpg) no-repeat fixed;
	background-size: cover;

	form {
		background: white;
		width: 600px;
		margin: 20px auto;
		border-radius: 4px;
		padding: 20px;

		h2 {
			text-align: center;
		}
		p {
			margin: 0;
			text-align: left;
		}
		label {
			display: block;
			margin: 10px 0 5px;
		}
		input {
			height: 30px;
		}
		input, textarea {
			width: 100%;
			border: 1px solid $gray;
			padding: 5px;
		}
		textarea {
			height: 100px;
		}
		input[type="submit"]{
			width: auto;
			height: auto;
			margin-top: 10px;
			padding: 10px 20px;
		}
	}
}


// p {
// 			margin: 0;
// 			overflow: hidden

// 			label {
// 				width: 30%;
// 				float: left;
// 				text-align: right;
// 				padding-right: 15px;
// 			}
// 			input, textarea {
// 				width: 60%;
// 				float: left;
// 			}
// 		}
// 		input[type="submit"]{
// 			clear: both;
// 		}



