/* --------------------------------------
    Created by Ladies Learning Code
    http://ladieslearningcode.com
-----------------------------------------*/

/* GLOBAL STYLES
-----------------------------------------*/
html, body {
  height: 100%;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
}
h1 {
  font-family: "Nixie One", serif;
}
h1, h2 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0; /* removes default space */
  line-height: 1; /* tightens up the space between the headings */
}
a {
  color: #bf6d50;
  text-decoration: none;
  transition: all 0.5s ease;
}
header,
section {
  padding: 20px 30px;
}
section {
  padding-top: 125px;
}
.highlight {
  color: #bf6d50;
}
.cursive {
  font-family: "Pacifico", cursive;
}


/* HEADER
-----------------------------------------*/
header {
  position: fixed;
  top: 0;
  background: white;
  border-bottom: 1px solid #eee;
  width: 100%; 
}
header h1 {
  font-size: 36px;
}
header h2 {
  font-size: 18px;
}

/* Navigation */
nav {
  position: absolute;
  right: 20px;
  top: 20px;
}
nav ul {
  list-style-type: none; /* removes bullets */
  margin: 0; /* removes default margin */
  padding: 0; /* removes default padding */
}
nav ul li {
  display: inline-block; /* gets the list items to line up side by side */
}
nav a {
  display: block; /* changes the element to block */
  padding: 5px 15px;
  text-transform: uppercase; 
}
nav .current {
  color: black;
}

/* HOME PAGE
-----------------------------------------*/
.home {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)), url(../images/background-6.jpg) no-repeat 50%;
  background-size: cover;
}
.home header {
  position: static;
  background: transparent;
  border-bottom: none;
  text-align: center;
  padding-top: 100px;
}
.home header h1 {
  font-size: 120px;
}
.home header h2 {
  font-size: 40px;
}
.home nav {
  text-align: right;
  font-size: 25px;
}
.home nav ul {
  display: none;
}
.home nav:hover ul {
  display: block;
}
.home li {
  display: block;
}
.home nav a {
  display: inline-block;
  font-size: 22px;
  padding: 10px 15px;
}
.home nav a:hover {
  color: black;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}
.fa-bars {
  padding: 0 15px 15px 15px;
  cursor: pointer;
  font-size: 40px;
  color: #bf6d50;
}

/* ABOUT PAGE
-----------------------------------------*/
.profile-img {
  float: left;
  margin-right: 20px;
}
blockquote {
  clear: both; /* clears the float and returns page back to normal stacking order */
  text-align: center;
  padding-top: 20px;
}
blockquote p {
  font-family: "Pacifico", cursive;
  font-size: 25px;
}


/* CONTACT PAGE
-----------------------------------------*/
.contact {
  background: url(../images/background-8.jpg) no-repeat;
  background-size: cover;
}
.contact-form {
    width: 600px;
    margin: 0 auto;
    background: white;
    padding: 18px;
    border-radius: 4px;
}
.contact-form input, 
.contact-form textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px;
}
.contact-form textarea {
  height: 100px;
}
.contact form input:focus, 
.contact form textarea:focus {
  outline: none;
  border: 1px solid #bf6d50;
}
.contact form input[type="submit"] {
  width: auto;
  padding: 10px 20px;
  background: #bf6d50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}



/* FOOTER
-----------------------------------------*/
/* sticky footer */
.page-wrap {
  min-height: 100%;
  margin-bottom: -35px; /* must be the same height as footer */
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  height: 35px; /* wowever tall you want the footer to be */
}
footer {
  background: #222;
  color: #ccc;
  clear: both;
  padding: 0 5px; /* adds space inside the footer */
  line-height: 35px;
}
footer .copyright {
  margin: 0; /* removes default margin from paragraph */
  float: left;
}
footer .social {
  float: right;
}
footer .social a {
  display: inline-block;
  padding: 0 6px;
}
footer .social a:hover {
  color: white;
}

