/*
	Slideshow theme for Ladies Learning Code
	@author Christina Truong
	@version 1.0
*/
/* Global styles
-----------------*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  padding: 0;
  margin: 0;
  font-family: "Vollkorn", serif;
  line-height: 1.25;
  border-top: 4px solid #b109aa;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25; }

/* Base styles for slides
--------------------------*/
.slide {
  padding: 40px; }

#timer {
  height: 4px;
  line-height: 4px;
  background: #1d1d1d; }
  #timer:before {
    content: ""; }

/* First slide
---------------*/
#intro {
  border-top: 4px solid #b109aa;
  background: linear-gradient(rgba(29, 29, 29, 0.3), rgba(177, 9, 170, 0.3)), url(img/banner-home2.jpg) no-repeat;
  background-size: cover;
  color: white; }
  #intro p {
    font-size: 1.8rem; }
  #intro h1 {
    text-transform: uppercase;
    font-size: 3.5rem; }
  #intro .instructor-img {
    border-radius: 50%;
    width: 100px;
    float: left; }
  #intro h2 {
    margin: 0;
    font-size: 2.5rem;
    vertical-align: bottom; }
    #intro h2 span {
      font-style: italic;
      font-size: 2rem;
      font-family: "Vollkorn", serif;
      display: block; }
    #intro h2 + p {
      clear: both; }
  #intro .info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.4rem; }
