//---------------
// VARIABLES
//---------------

// Colours
//---------------
$llc-pink:		#b109aa;
$black: 			#000000;
$gray-dark:		#222222;
$gray:				#444444;
$gray-light:	#bdc3c7;
$white: 			#ffffff;


// Typography
//---------------

// Font families
$source-sans-pro: 	'Source Sans Pro', sans-serif;
$quicksand: 				'Quicksand', sans-serif;
$pacifico: 					'Pacifico', cursive;

$heading-font: 			$quicksand;
$base-font:					$source-sans-pro;
$cursive: 					$pacifico;

// Font weights
$normal:	400;
$bold:		700;

// Font sizes
$font-size-default:		3.5rem;
$font-size-h1: 			7.5rem;
$font-size-h2: 			4rem;
$font-size-code:		2rem;
