/* Styles specific to this workshop
------------------------------------*/
.slide.intro {
  background: linear-gradient(rgba($black, 0.7),
              rgba($black, 0.7)), 
              url(../img/banner-home2.jpg) no-repeat;
  background-size: cover;
}

.slide.intro h1 {
  font-size: 70px;
}

/* Today's Project */
.slide.project img {
	width: 32%;
}

// What exactly *is* a website?
.website-table {
  th {
    font-size: 24px;
  }
  table img {
    max-width: 350px;
  }
}

/* A Basic Web Page */
.basic-web-page {
	.css {
		color: #27ae60;
		font-weight: bold;

		span {
			font-style: italic;
		}
	}
}

.basic-tags {
  .hljs span {
    // line-height: 1.5;
    font-size: 23px;
  } 
  .hljs-comment {
    color: #777;
  }
}

.slide.background {
  background: url(../img/workshop/background-5.jpg);
  background-size: cover;
}