/* Styles specific to this workshop
------------------------------------*/
.slide.intro {
  background: linear-gradient(rgba($black, 0.7),
              rgba($black, 0.7)),
              url(../img/banner-home1.jpg) no-repeat;
  background-size: cover;
}

.slide.intro h1 {
  font-size: 70px;
}

/* Today's Project */
.slide.project img {
	width: 32%;
}

// What exactly *is* a website?
.website-table {
  th {
    font-size: 24px;
  }
  table img {
    max-width: 350px;
  }
}

/* A Basic Web Page */
.basic-web-page {
	.css {
		color: green;
		font-weight: bold;

		span {
			font-style: italic;
		}
	}
  
  button {
    background-color: $gray;
    border: 0;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    font-family: $base-font;
    font-size: $font-size-base;
    margin: 0 10px;
    padding: 5px 15px;

    &:focus,
    &:hover {
      background-color: $llc-pink;
    }

    &:active {
      background-color: $black;
    }
  }
}

.basic-tags {
  .hljs span {
    // line-height: 1.5;
    font-size: 23px;
  }
  .hljs-comment {
    color: #777;
  }
}

.hljs {
    border: 1px solid $gray;
}

.hljs-comment {
  color: green;
}

.hljs-doctype {
  color: #000080;
}

.hljs-attribute,
.hljs-number {
  color: #027d7d;
}

.subject {
  border: solid 1px $gray;
}

.slide.background {
  background: url(../img/workshop/background-5.jpg);
  background-size: cover;
}

.slide.final {
  background: url(../img/workshop/crazy-cat.jpg) 50%;
   text-align: center;

  h1 {
    background: rgba(black, 0.8);
    display: inline-block;
  }
}

.forms .example {
  padding: 10px;
}
