/*
	Slideshow theme for Ladies Learning Code
	@author Christina Truong | christinatruong.com
	@version 1.0
*/

@import "variables";
@import "mixins";


/* Global styles
-----------------*/
/* apply a natural box layout model to all elements */
*, *:before, *:after {
	box-sizing: border-box;
}

/* updated clearfix hack: 
http://css-tricks.com/snippets/css/clear-fix/ */
.group:after {
	content: "";
	display: table;
	clear: both;
}

html {
	font-size: 62.5%;
}

body {
	padding: 0;
	margin: 0;
	font: $font-size-default/1.4 $base-font;
	color: $gray-dark;
	border-top: 4px solid $llc-pink;
	-webkit-font-smoothing: antialiased;
	background: #ecf0f1;
}
@-moz-document url-prefix() {
	body {
		font-weight: $light;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	line-height: 1.25;
	text-transform: uppercase;
	letter-spacing: -0.05em;
}
h1 {
	font-weight: 400;
	font-size: $font-size-h1;
}
h1, h2 {
	margin: 0;
	color: $llc-pink;
}
h2 {
	font-size: $font-size-h2;

	code {
		font-size: inherit;
		font-weight: normal;
		background: none;
	}
}
h3 {
	margin-bottom: 5px;
	font-size: $font-size-h3;

	+ p {
		margin-top: 0;
	}
}
h4 {
	margin-bottom: 6px;
	letter-spacing: 0;

	+ pre {
		margin-top: 6px;
	}
}

a {
	color: $gray;

	&:hover {
		text-decoration: none;
		color: $llc-pink;
	}
}

pre {
	margin: 8px 0;

	code {
		overflow-y: auto;
	}
}
code {
	font-family: Monaco, Andale Mono, monospace;
	color: #444;
	padding: 1px 4px;
	font-size: $font-size-code;
	background: white;
	border-radius: 4px;
	padding: 0 6px;
}


/* Base styles for slides
--------------------------*/
.slide {
	padding: 45px 5%;
	height: 96%;
	
	// Adds extra space to the bottom of the slides to allow 
	// presenters to scroll the page up so people in the back
	// of the room can see the bottom of the slides.
	&:after {
		content: " ";
		display: block;
		height: 200px;
	}
	img {
		max-width: 100%;
	}
	&:target {
		overflow: auto;
	}
	&.js-fiddle > iframe:only-of-type {
		position: static;
		width: 525px;
		height: 350px;
	}
	&.centered {
		text-align: center;

		img {
			width: 60%;
		}
	}
}

/* For two column screenshots */
.side-by-side {
	img {
		width: 49%;
		display: inline-block;
		vertical-align: top;
	}
}

/* vertical align heading */
.slide.title {
	transform-style: preserve-3d;
	padding-left: 8%;
	padding-right: 8%;

	h1, h2 {
		position: relative;
		text-align: center;
		top: 40%;
		transform: translateY(-40%);
	}
	h2 {
		color: $gray;
	}
}

/* Progress Bar */
#timer {
	height: 4px;
	line-height: 4px;
	background: $black;

	&:before {
		content: "";
	}
	.end {

	}
}


/* textarea for dynamic CSS demos */
h2 + .edit {
	margin-top: 30px;
}
textarea.snippet {
	width: 100%;
	border: 1px solid #222;
	padding: 15px 20px;
	margin-bottom: 15px;
	font-family: Monaco, Andale Mono, monospace;
}
.edit {
	float: right;
	border: 1px solid #ccc;
	font-size: 14px;
	padding: 2px 7px;
	position: relative;
	bottom: -10px;
	right: 8px; 
	margin-bottom: -25px;
}


/* table styles */
table {
	th {
		font-weight: $normal;
	}
	img {
		width: 100%;
	}
}


/* Creates border for slide examples */
.example {
	border: 1px solid $gray-light;
	padding: 0 15px;

	p {
		margin: 10px 0;
	}

	&:last-child {
		margin-bottom: 50px;
	}
}

/* Incremental slides */
.delayed.displayed, 
.delayed-children > .displayed {
    opacity: 1;
}

/* 
Background color style for headings
Use spans wrap inside of a heading for div. 
e.g.
<h1 class="title-bg">
  <span>Welcome to </span><br>
  <span>Ladies Learning Code!</span>
</h1>
*/
.heading-bg {
	span {
		background: rgba($llc-pink, 0.8);
		border-radius: 5px;
		padding: 0 10px 0 6px;
		// text-transform: uppercase;

		&.light {
			background: rgba($white, 0.3);
		}
		&.dark {
			color: $gray-dark;
		}
	}
	&.connected {
		span { 
			display: inline-block;
			padding: 6px 15px;
		}
		.light:last-child {
			margin-left: 244px;
			margin-top: 4px;
		}
	}
}

/* Title & Intro slides
------------------------*/
.intro {
	/*uncomment this if you don't want to use a background image */
	// background: $gray-dark; 
	background: linear-gradient(rgba($black, 0.1),
		          rgba($black, 0.8)), 
	            url(../img/banner-home3.jpg) no-repeat;
	background-size: cover;
	color: $white;
	// position: relative;

	.logo {
		height: 65px;
	}
	h1 {
		font-size: $font-size-h1;
		margin: 20px 0;
		color: $white;
	}
	.info {
		ul {
			@include list-reset();
			font-size: 2.2rem;
		}
		.fa {
			padding-right: 10px;
		}
		a {
			color: $white;
		}
	}
	.instructor-img {
		border-radius: 50%;
		width: 100px;
		float: left;
		margin-right: 20px;
	}
	h2 {
		margin-bottom: 20px;
		color: $white;

		span {
			color: $llc-pink;
			font-family: $cursive;
			margin-right: 4px;
			font-size: 3rem;
			text-transform: lowercase;
			font-weight: $normal;
		}
	}
	.sponsor {
		position: fixed;
		bottom: 40px;
		right: 20px;
		text-align: right;

		img {
			width: 300px;
		}
	}
}


/* Last/ Instructor info slide
-------------------------------*/
.last {
	ul {
		@include list-reset();
		font-size: 2.2rem;
	}
	.fa {
		padding-right: 10px;
	}
	.heading-bg {
		margin-top: 40px;

		span {
			background: rgba($llc-pink, 0.8);
			color: $white;
			border-radius: 5px;
			padding: 0 10px 0 6px;
		}
	}
	.instructor-img {
		border-radius: 50%;
		width: 100px;
		float: left;
		margin-right: 20px;
	}
	h3 {
		margin-bottom: 20px;

		span {
			color: $llc-pink;
			font-family: $cursive;
			margin-right: 4px;
			font-size: 3rem;
			text-transform: lowercase;
			font-weight: $normal;
		}
	}
	.attribution {
		position: absolute;
		bottom: 20px;
	}
}


/* highlight.js customizations
-------------------------------*/
.hljs {
	font-family: Monaco, Andale Mono, monospace;
	padding: 20px 25px;
	border-radius: 2px;
}


/* presenter notes overrides
-------------------------------*/
.presenter-notes {
	bottom: 0;
	width: 100%;
	background: rgba(255, 255, 255, .9);
	font-size: 18px;
	margin: 0;
	max-height: inherit;

	p {
		margin-top: 0;
	}
}


footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	background: rgba(white, 0.6);
	font-size: 14px;

	i {
		color: $llc-pink;
	}
	p {
		margin: 4px 0;
	}
	.instructions {
		float: right;
		margin-right: 20px;
	}
	.license {
		float: left;
		margin-left: 20px;

		img {
			vertical-align: middle;
		}
	}
}
