@import "variables";

/* Styles specific to this workshop
------------------------------------*/

/* Slide specific styles */

/* Today's Project */
.project img {
	width: 32%;
}

/* A Basic Web Page */
.basic-web-page {
	.example {
		&.css {
			color: #27ae60;
			font-weight: bold;

			span {
				font-style: italic;
			}
		}
	}
}

